<div class="main-container">
  <img src="assets/1exosdata.png" alt="1" class="imagen-principal" />
  <h1 class="titulop"><b>ExosPremia</b></h1>

  <div class="container">
    <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
      <button (click)="exportToExcel()" style="border: none; background-color: white; padding: 0; cursor: pointer;">
        <i class="fas fa-file-excel" style="font-size: 30px; color: #4caf50;"></i>
      </button>
    </div>
    
    <h2>Seleccione una Estación</h2>

    <div class="form-group" align="center">
      <label for="opciones">Estación:</label>
      <select id="opciones" [(ngModel)]="selectedOption">
        <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
      </select>
      <button (click)="generate()">Generar</button>
    </div>

    <!-- Imagen de carga GIF que cubre toda la pantalla -->
    <div *ngIf="isLoading" class="loading-overlay">
      <img src="assets/pump.gif" alt="Cargando..." class="loading-gif" />
      <div class="spinner"></div>
    </div>

    <!-- Confetti GIF después de 10 segundos -->
    <div *ngIf="showConfetti" class="confetti-overlay">
      <img src="assets/confetti2.gif" alt="Confetti" class="confetti-gif" />
    </div>

    <!-- Mostrar resultados si existen -->
    <h2>Resultado:</h2>
    <div *ngIf="resultado && resultado.length > 0"style="display: flex; justify-content: center; align-items: center; text-align: center;">
     
      <table>
        <thead>
          <tr>
            <th>Ticket</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <!-- <th>Teléfono</th> -->
            <!-- <th>Dirección</th> -->
             <th>Premio</th>
            <th>Estación</th>
          </tr>
          
        </thead>
        <tbody>
        
          <tr *ngFor="let item of resultado">
            
            <td class="ajuste" style="width: 50px;">{{ item.ticket }}</td>
            <td class="ajuste" style="width: 200px;">{{ item.cedulasegura || '' }}</td>
            <td class="ajuste2" style="width: 650px;">{{ item.nombre?.toUpperCase() || '' }}</td>
            <!-- <td class="ajuste" style="width: 100px;">{{ item.telefono || '' }}</td>
            <td class="ajuste" style="width: 350px;">{{ item.direccion || '' }}</td> -->
            <td class="ajuste" style="width: 350px;">{{ item.premio || '' }}</td>
            <td class="ajuste" style="width: 300px;">{{ item.estacion || '' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
